.main {
    margin-top: 10px;
}

.row,
.main {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex-direction: column;
    flex: 0.5;
    min-width: 270px;
}

.navigation {
    display: flex;
    flex-direction: row;
}

body {
    background-color: #DDA0DD;
    color: #4B0082;
}

.hidden {
    display: none;
}

.map {
    padding: 0px;
}

.horizontal-button {
    background-color: #E485B7;
    height: 20px;
    text-align: center;
    flex: 1;
}

.vertical-button {
    background-color: #E485B7;
    width: 20px;
    vertical-align: center;
    padding-top: 25%;
}

img {
    max-width: 60px;
}

.img-big {
    display: none;
}

.img-little:hover ~ .img-big {
    transform: scale(7);
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    vertical-align: center;
}

.img-label {
    width: 200px;
    float: right;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #4B0082;
    opacity: 0;

    transition: opacity .5s ease-out 0s;
}


.img-little:hover ~ .img-label {
    display: block;
    position: relative;
    opacity: 1;

    transition: opacity .5s ease-out 1s;
}