<!DOCTYPE html>
<html>
<head lang="en">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title></title>
</head>
<body onload="init({{center_x}}, {{center_y}})">
    <nav></nav>
    <main class="container main">
        <div id="error" class="row error"></div>
        <div class="row">
            {% block sidebar %}
            {% endblock %}
            <div class="col sidebar">
                <img src="/static/images/cat.jpg" id="img1" />
                <div>Make and model: <div id="makeAndModel"></div></div>
            </div>
            {% block map %}
            {% endblock %}
        </div>
    </main>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/map_generator.js"></script>
<script src="/static/js/simplex-noise.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
</html>