<!DOCTYPE html>
<html>
<head lang="en">
    <link href="/static/css/signin.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="sign-container">
        <div class="icon-desc">
            <img class="icon" src="/static/images/beacon.png">
            <div class="sign-desc">
                Hello! You are in a simulation. <br>
                This map should help you. <br>
                Make beacons, attach photos of the area and&nbsp;share it with friends.<br>
                Try to find your way to the real world!<br>
                But first &mdash; sign in.
            </div>
        </div>
        <div class="sign-error">{{ message }}</div>
        <form action="Signin" method="post">
            <input class="text-input" required type="text" name="username" maxlength="40"><br>
            <input class="text-input" required type="password" name="password" maxlength="40"><br>
            <div class="buttons">
                <input class="submit-button" type="submit" value="Sign in">
                <a class="other-button" href="/Signup">Register</a>
            </div>
        </form>
    </div>
</body>
</html>