[Unit]
    Description=Example service

[Service]
    ExecStart=/home/example/example.py
    WorkingDirectory=/home/example/
    User=example
    Group=example
    Restart=on-failure
    RestartSec=2s
    # CPUQuota=400%

[Install]
    WantedBy=multi-user.target
