[Unit]
    Description=Index service

[Service]
    ExecStart=/home/index/run.sh
    WorkingDirectory=/home/index/
    User=index
    Group=index
    Restart=on-failure
    RestartSec=2s
    Environment=ASPNETCORE_ENVIRONMENT=Staging
    # CPUQuota=400%

[Install]
    WantedBy=multi-user.target
