[Unit]
    Description=GeoAPI service

[Service]
    ExecStart=/home/geoapi/geoapi.py
    WorkingDirectory=/home/geoapi/
    User=geoapi
    Group=geoapi
    Restart=on-failure
    RestartSec=2s
    # CPUQuota=400%

[Install]
    WantedBy=multi-user.target
