[Unit]
    Description=Brainhugger service

[Service]
    ExecStart=/home/brainhugger/brainhugger.py
    WorkingDirectory=/home/brainhugger/
    User=brainhugger
    Group=brainhugger
    Restart=on-failure
    RestartSec=2s
    # CPUQuota=400%

[Install]
    WantedBy=multi-user.target
