[Unit]
    Description=Sandbox service

[Service]
    ExecStart=/home/sandbox/sandbox.py
    WorkingDirectory=/home/sandbox/
    User=sandbox
    Group=sandbox
    Restart=on-failure
    RestartSec=2s
    # CPUQuota=400%

[Install]
    WantedBy=multi-user.target
