html{
    height: 100%;
    width: 100%;
    font-family: 'Audiowide', cursive;
}
body{
    /*background: linear-gradient(to bottom, #6E00C8, #48007C, #2A0241, #1D042C, #0D0612, #070709);*/
    background-color: black;
    height: 100%;
    width: 100%;
}

hr {
    height: 4px;
    margin-left: 15px;
    margin-bottom: -3px;
}

.hr-danger {
    background-image: -webkit-linear-gradient(left, rgba(244, 67, 54, .8), rgba(244, 67, 54, .6), rgba(0, 0, 0, 0));
}

.hr-warning {
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, .8), rgba(210, 105, 30, .6), rgba(0, 0, 0, 0));
}

.hr-success {
    background-image: -webkit-linear-gradient(left, rgba(15, 157, 88, .8), rgba(15, 157, 88, .6), rgba(0, 0, 0, 0));
}

.hr-primary {
    background-image: -webkit-linear-gradient(left, rgba(66, 133, 244, .8), rgba(66, 133, 244, .6), rgba(0, 0, 0, 0));
}

#noTrespassingOuterBarG {
    display: none;
    height: 30px;
    width: 156px;
    border: 1px solid rgb(66, 133, 244);
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
    margin-left: 10px;
}

.noTrespassingBarLineG {
    /*display: none;*/
    background-color: rgb(66, 133, 244);
    float: left;
    width: 14px;
    height: 117px;
    margin-right: 23px;
    margin-top: -27px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.noTrespassingAnimationG {
    width: 230px;
    animation-name: noTrespassingAnimationG;
    -o-animation-name: noTrespassingAnimationG;
    -ms-animation-name: noTrespassingAnimationG;
    -webkit-animation-name: noTrespassingAnimationG;
    -moz-animation-name: noTrespassingAnimationG;
    animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    -ms-animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@keyframes noTrespassingAnimationG {
    0% {
        margin-left: -37px;
    }

    100% {
        margin-left: 0;
    }
}

@-o-keyframes noTrespassingAnimationG {
    0% {
        margin-left: 37px;
    }

    100% {
        margin-left: 0;
    }
}

@-ms-keyframes noTrespassingAnimationG {
    0% {
        margin-left: 37px;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes noTrespassingAnimationG {
    0% {
        margin-left: 37px;
    }

    100% {
        margin-left: 0;
    }
}

@-moz-keyframes noTrespassingAnimationG {
    0% {
        margin-left: 37px;
    }

    100% {
        margin-left: 0;
    }
}

#work-page {
    display: none;
}

#login-btn,
#register-btn {
    background-color: #fdfd00;
    border-color: #fdfd00;
    color: black;
    display: block;
}
#login-btn:hover,
#register-btn:hover {
    background-color: #FFAF3D;
    border-color: #FFAF3D;
    color: black;
    display: block;
}

#brainhugger{
    bottom: 0;
    left: 0;
    margin: auto;
    vertical-align: bottom;
    background: linear-gradient(to bottom, #6E00C8, #48007C, #2A0241, #1D042C, #0D0612, #070709);
    height: 100%;
    width: 100%;
}

#register-btn  {
    display: none;
}


#register-label {
    display: none;
}

#reg-link {
    cursor: pointer;
    color: #7964fc;
}

#reg-head {
    display: none;
}

#login-link {
    cursor: pointer;
    color: #7964fc;
}

#error-msg {
    color: red;
    font-size: 30px;
}

#login-form{
    color: #2700cd;
    font-family: 'Audiowide', cursive;
    position: relative;
    display: block;
    width: 600px;
    /*background-color: #01a590;*/
    background-color: black;
    border: 2px solid #a200f9;
    top: 30%;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 0 0 30px #a200f9;
}

#bh-source {
    background-color: black;
    height: 480px;
    width: 499px;
    font-size: 20px;
}

.bh-text {
    color: #00FF00;
}

.bh-text-err {
    color: red;
}

#bh-stdin {
    background-color: black;
    border: none;
    font-size: 27px;
    width: 250px;
    outline: none;
}

#bh-source {
    border: none;
    outline: none;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    font-family: Consolas, monaco, monospace;
}

#bh-stdout {
    width: 100%;
    height: 100px;
    background-color: black;
    outline: none;
    border: none;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    white-space: nowrap;
    font-size: 30px;
    font-family: 'Bungee Inline', cursive;
}

#bh-stdout::-webkit-scrollbar {
    height: 0;
}

#bh-source::-moz-selection {
    color: #00FF00;
    background: black;
}

#bh-source::selection {
    color: #00FF00;
    background: black;
}

#by_1_ {
    ;
}
